a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: #0366d6;
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }